<html>

<head>
    {% if title %}
    <title>{{ title }} - Blog</title>
    {% else %}
    <title>{{_('Blog')}}</title>
    {% endif %}
</head>

<body>
        <div>
            Blog:
            <a href="{{ url_for('main.index') }}">{{_('Home')}}</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">{{_('Login')}}</a>
            {% else %}
            <a href="{{ url_for('main.user', username=current_user.username) }}">{{_('Profile')}}</a>
            <a href="{{ url_for('main.messages') }}">
                {{ _('Messages') }}
                <span id="message_count" style="visibility: {% if new_messages %}visible {% else %}hidden{% endif %};">
                    {{ new_messages }}
                </span>
            </a>
            <a href="{{ url_for('main.explore') }}">{{_('Explore')}}</a>
            <a href="{{ url_for('auth.logout') }}">{{_('Logout')}}</a>
            {% endif %}
        </div>
        {% if g.search_form %}
        <form method="get" action="{{ url_for('main.search') }}">
            <div>
                {{ g.search_form.q(size=20, placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
        {% endif %}
        <hr />
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <div class="container">
            {% if current_user.is_authenticated %}
            {% with tasks = current_user.get_tasks_in_progress() %}
            {% if tasks %}
            {% for task in tasks %}
            <label for="file">{{task.description}}</label>
            <span
                    id="{{ task.id }}-progress">{{ task.get_progress()  * 100}}</span>%
            <progress id="file" value="0" max="100"> </progress>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% endif %}
            {% block content%} {% endblock%}
            </div>
        {% block scripts%}
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{moment.lang(g.locale) }}
        <script>
            function set_task_progress(task_id, progress) {
            document.getElementById('#' + task_id + '-progress').innerText = progress * 100
            document.getElementById("file").value = progress * 100
        }
            function set_message_count(n) {
                $('#message_count').text(n);
                $('#message_count').css('visibility', n ? 'visible' : 'hidden');
            }
            {% if current_user.is_authenticated %}
            $(function () {
                var since = 0;
                setInterval(function () {
                    $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                        function (notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                            switch (notifications[i].name) {
                                case 'unread_message_count':
                                    set_message_count(notifications[i].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(
                                        notifications[i].data.task_id,
                                        notifications[i].data.progress);
                                    break;
                            }
                            since = notifications[i].timestamp;
                        }
                        }
                    );
                }, 10000);
            });
            {% endif %}
        </script>
        {% endblock %}
</body>

</html>