{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Send Message to %(recipient)s', recipient=recipient) }}</h1>
    <div>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=32) }}<br>
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}